<footer class="footer">
    <div class="connect">
        <ul>
            <li><a href="" class="fa fa-facebook" style="font-size: 20px;" target="_blank"></a></li>
            <li><a href="" class="fa fa-whatsapp" style="font-size: 20px;" target="_blank"></a></li>
            <li><a href="" class="fa fa-twitter" style="font-size: 20px;" target="_blank"></a></li>
            <li><a href="" class="fa fa-linkedin" style="font-size: 20px;" target="_blank"></a></li>
            <li><a href="" class="fa fa-envelope" style="font-size: 20px;" target="_blank"></a></li>
        </ul>
    </div>
    <p>&copy;2022 Happy Times Investments Ltd  | All Rights Reserved</p>
</footer>