<div class="home-lower">
    <div class="home-lower-wrapper">
        <div class="lower left">
            <h3>Who we are...</h3>
            <p>
              Happy Times Investments LTD is a Limited Liability Company (LLC) founded 
              in may 2020, and attained its incorporation certificate with registration 
              number; 80020003314400 on October, 11th, 2021 by the Uganda Registration 
              Services Bureau (URSB).
            </p>
            <button class="home-lower-btn">
                <a href="/about-us">Read more...</a>
            </button>
        </div>
        <div class="lower right">
            <div class="lower-img img-one">
                <img src="/images/happy1.jpg">
            </div>
            <div class="lower-img img-two">
                <img src="/images/food.jpeg">
            </div>
            <div class="lower-img img-three">
                <img src="/images/construction.jpeg">
            </div>
        </div>
    </div>
</div>