<nav class="navbar">
    <div class="top">
    </div>
    <ul>
        <li><img class="logo" src="/images/logo updated.jpg" alt="logo"></li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about-us">About Us</a>
        </li>
        <li>
            <a href="/products">Products & Services</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/contact">Contact Us</a>
        </li>
        <li>
            <a href="/login" class="login">Login</a>
        </li>
        <li>
            <form>
                <select class="langs" id="langs" name="langs">
                    <option value="Language"><i class="fa-solid fa-language"></i> Language</option>
                    <option value="English">English</option>
                    <option value="French">French</option>
                    <option value="Spanish">Spanish</option>
                </select>
            </form>
        </li>
    </ul>
</nav>

<nav class="dropdown">
    <img src="" class="drop-btn">
    <div class="dropdown-nav">
        <a href="/">Home</a>
        <a href="/about-us">About Us</a>
        <a href="/products">Products & Services</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact Us</a>
    </div>
</nav>
