<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <div class="main">
                <h2>About Us</h2>
                <section class="abt">
                    <div class="desc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Iusto reiciendis, deleniti corporis facere vel blanditiis
                            nihil repellat eum, aliquam accusantium exercitationem.
                            Excepturi iure vitae ipsa eum nostrum! Nemo, saepe suscipit?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Iusto reiciendis, deleniti corporis facere vel blanditiis
                            nihil repellat eum, aliquam accusantium exercitationem.
                            Excepturi iure vitae ipsa eum nostrum! Nemo, saepe suscipit?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Iusto reiciendis, deleniti corporis facere vel blanditiis
                            nihil repellat eum, aliquam accusantium exercitationem.
                            Excepturi iure vitae ipsa eum nostrum! Nemo, saepe suscipit?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Iusto reiciendis, deleniti corporis facere vel blanditiis
                            nihil repellat eum, aliquam accusantium exercitationem.
                            Excepturi iure vitae ipsa eum nostrum! Nemo, saepe suscipit?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Iusto reiciendis, deleniti corporis facere vel blanditiis
                            nihil repellat eum, aliquam accusantium exercitationem.
                            Excepturi iure vitae ipsa eum nostrum! Nemo, saepe suscipit?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Iusto reiciendis, deleniti corporis facere vel blanditiis
                            nihil repellat eum, aliquam accusantium exercitationem.
                            Excepturi iure vitae ipsa eum nostrum! Nemo, saepe suscipit?</p>
                    </div>
                    <div class="img">
                        <img src="" alt="image">
                    </div>
                </section>
                <section class="team">
                    <h2>Meet our Team</h2>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                </section>
                <hr>
                <section class="mgt">
                    <h2>Management Team</h2>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                </section>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>