<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div id="intro-carousel" class="carousel slide d-flex justify-content-center align-items-center" data-bs-ride="carousel" style="height: 85vh;">
            <div class="carousel-inner pt-5">
              <div class="carousel-item active">
                <div class="text-center">
                  <h2 class="fs-*">About us ...</h2>
                </div>
              </div>
              <div class="carousel-item">
                <div class="text-center">
                  <em class="carousel-em fs-*">
                    We deal in manufacturing of Fast Moving Consumer Goods (FMCG);<br>
                    currently in liquid soap production - branded “Happy Wash Liquid Soap”;<br> 
                    and supply of food and non food items.
                  </em>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev pt-5" type="button" data-bs-target="#intro-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next pt-5" type="button" data-bs-target="#intro-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="about container">
            <div class="row pt-5">
                <div class="col-lg-6 col-sm-12 pt-5">
                    <img src="/images/happy7.jpg" alt="image" class="img-responsive pt-5" width="500">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h3 class="py-5">About Us</h3>
                    <p>
                        Happy Times Investments LTD is a Limited Liability Company (LLC) 
                        founded in may 2020, and attained its incorporation certificate 
                        with registration number; 80020003314400 on October, 11th, 2021 
                        by the Uganda Registration Services Bureau (URSB).
                    </p>
                    <p>
                        We  deal in manufacturing of Fast Moving Consumer Goods (FMCG); 
                        currently in liquid soap production - branded “Happy Wash Liquid 
                        Soap”; and supply of food and non food items. 
                        As our philosophy, “ Being a customer centered company with the aim
                        of addressing customer pain points and needs through offering quality,
                        sustainable and scalable products”. We value our customers, as we put 
                        them at the forefront when designing products or services that elevates 
                        their happiness. 
                    </p>
                    <p>
                        We have a three year - fascinating track-record in manufacturing and 
                        distributing quality multipurpose liquid soap that has gained traction 
                        in 3 districts; Hoima, Kikuube and Kagadi in Uganda. 
                    </p>
                    <p>
                        Over the years, we have received a vote of confidence from prominent 
                        companies and organizations that use our products. These include P4T, 
                        Pious Projects, and LWF. Recently Action Against Hunger, a humanitarian 
                        organization contracted us to supply fresh food items, under our “Supply 
                        of food and non-food item business” to over 200 beneficiaries in 2022 - 
                        for 6 months. 
                    </p>
                </div>
            </div>
        </div>
        <div class="statements container pt-5">
            <div class="row pt-5">
                <div class="col-lg-6 col-sm-12">
                    <div class="card">
                        <h4 class="text-center p-5">Our Mission</h4>
                            <span class="text-center px-5 pb-5">To offer a wide range of quality, sustainable and scalable products and services that are customer centered and address customers’ needs</span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="card">
                        <h4 class="text-center p-5">Our Vision</h4>
                            <span class="text-center px-5 pb-5">Most preferred quality, Sustainable and Scalable products and services that address customers’ pain points or needs.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-5">
            <h3 class="text-center pt-5">Meet our Team</h3>
            <h4 class="text-center pt-5">Management Team</h4>
            <div class="row pt-5">
                <div class="col-lg-2 col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                    </div>
                </div>
                <div class="col-lg-2 col-lg-3 col-md-6 col-sm-12 pt-5">
                    <h4 class="pt-5 text-left">Amani Albert</h4>
                    <p class="position">Chief Executive Officer</p>
                    <a href="#" class="px-0">
                        <button class="btn btn-primary btn-lg">Read More</button>
                    </a>
                </div>
                <div class="col-lg-2 col-lg-3 col-md-6 col-sm-12 pb-5">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                    </div>
                </div>
                <div class="col-lg-2 col-lg-3 col-md-6 col-sm-12 pt-5">
                    <h4 class="pt-5 text-left">Nandweza Allan</h4>
                    <p class="position">Chief Finance Officer</p>
                    <a href="#" class="px-0">
                        <button class="btn btn-primary btn-lg">Read More</button>
                    </a>
                </div>
                <div class="col-lg-2 col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                    </div>
                </div>
                <div class="col-lg-2 col-lg-3 col-md-6 col-sm-12 pt-5">
                    <h4 class="pt-5 text-left">Bora Rwarinda</h4>
                    <p class="position">Chief Operations Officer</p>
                    <a href="#" class="px-0">
                        <button class="btn btn-primary btn-lg">Read More</button>
                    </a>
                </div>
                <div class="col-lg-2 col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                    </div>
                </div>
                <div class="col-lg-2 col-lg-3 col-md-6 col-sm-12 pt-5">
                    <h4 class="pt-5 text-left">Nsabimana Theophile</h4>
                    <p class="position">Chief Marketing Officer</p>
                    <a href="#" class="px-0">
                        <button class="btn btn-primary btn-lg">Read More</button>
                    </a>
                </div>
            </div>
            <h4 class="text-center pt-5 pb-4">Board of Directors</h4>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-12 pb-5">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <h5 class="text-center">Songe Emmanuel</h3>
                        <p class="text-center">Chairman Board</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <h5 class="text-center">Amani Albert</h3>
                        <p class="text-center">Secretary</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <h5 class="text-center">Nandweza Allan</h3>
                        <p class="text-center">Finance Director</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <h5 class="text-center">Bora Rwarinda</h3>
                        <p class="text-center">Director</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <h5 class="text-center">Nsabimana Theophile</h3>
                        <p class="text-center">Director</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <h5 class="text-center">Anifa Amooti</h3>
                        <p class="text-center">Director</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <h5 class="text-center">Mashagbe Sware</h3>
                        <p class="text-center">Director</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <h5 class="text-center">Jimmy Jean</h3>
                        <p class="text-center">Director</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <h5 class="text-center">Nsengiyumva Philemeon</h3>
                        <p class="text-center">Director</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container p-5">
            <h4 class="text-center p-3">Our Partners</h4>
            ,<div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="logo-p">
                        <img src="https://www.lutheranworld.org/sites/default/files/LWF%20Logo%20Horizontal%20EN_0_0.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="logo-p">
                        <img src="https://globalhandwashing.org/wp-content/uploads/2020/10/ACF-logo.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="logo-p">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRg16NpbkCyMtZF1imEcRuVh2lOXSf_dNGOw2yUuH88g&s" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-us">
            <h2>Contact Us</h2>
            <div class="abt-rule"></div>
            <h3>Happy Times Investments Ltd</h3>
            <p>P.O Box 236, Hoima, Uganda</p>
            <p>Tel: +256788266754 | +256703737369</p>
            <p>Email: happytimesinvestmentsltd@gmail.com</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>