<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about">
            <div class="about-main">
                <h2>Who We Are</h2>
                <div class="abt">
                    <div class="desc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Iusto reiciendis, deleniti corporis facere vel blanditiis
                            nihil repellat eum, aliquam accusantium exercitationem.
                            Excepturi iure vitae ipsa eum nostrum! Nemo, saepe suscipit?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Iusto reiciendis, deleniti corporis facere vel blanditiis
                            nihil repellat eum, aliquam accusantium exercitationem.
                            Excepturi iure vitae ipsa eum nostrum! Nemo, saepe suscipit?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Iusto reiciendis, deleniti corporis facere vel blanditiis
                            nihil repellat eum, aliquam accusantium exercitationem.
                            Excepturi iure vitae ipsa eum nostrum! Nemo, saepe suscipit?</p>
                            <br>
                            <div class="abt-btn">
                                <input type="button" value="Read more" id="abt-btn">
                            </div>
                    </div>
                    <div class="pic">
                        <img src="/images/members1.jpeg" alt="image">
                    </div>
                </div>
                <h2 class="team-header">Meet our Team</h2>
                <div class="team">
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                </div>
                <hr>
                <h2 class="mgt-team-header">Management Team</h2>
                <div class="mgt">
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <p>lorem ipsum.....</p>
                    </div>
                </div>
                <hr>
                <h2 class="partners-header">Our Partners</h2>
                <div class="partners">
                    <div class="logo-p">
                        <img src="https://www.lutheranworld.org/sites/default/files/LWF%20Logo%20Horizontal%20EN_0_0.png" alt="">
                    </div>
                    <div class="logo-p">
                        <img src="https://globalhandwashing.org/wp-content/uploads/2020/10/ACF-logo.jpg" alt="">
                    </div>
                    <div class="logo-p">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRg16NpbkCyMtZF1imEcRuVh2lOXSf_dNGOw2yUuH88g&s" alt="">
                    </div>
                </div>
                <div class="contact-us">
                    <h2>Contact Us</h2>
                    <h3>Happy Times Investments Ltd</h3>
                    <p>P.O Box 236, Hoima, Uganda</p>
                    <p>Tel: +2567882667</p>
                    <p>Email: happytimesinvestmentsltd@gmail.com</p>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>