<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about">
            <div class="about-main">
                <h2>About Happy Times Investments Ltd</h2>
                <div class="abt-rule upper-rule"></div>
                <div class="abt">
                    <div class="desc">
                        <p>
                            Happy Times Investments LTD is a Limited Liability Company (LLC) 
                            founded in may 2020, and attained its incorporation certificate 
                            with registration number; 80020003314400 on October, 11th, 2021 
                            by the Uganda Registration Service Bureau (URSB).
                        </p>
                        <p>
                            We  deal in manufacturing of Fast Moving Consumer Goods (FMCG); 
                            currently in liquid soap production, branded; “Happy Wash Liquid 
                            Soap”, supply of food and non food items. 
                            As our philosophy, “ Being a customer centered company with the 
                            aim of addressing customer pain points and needs through offering 
                            quality, sustainable and scalable products”. We value our customers, 
                            as we put them at the forefront when designing products or services 
                            that elevates their happiness. 
                        </p>
                        <p>
                            We have a fascinating track-record of three years in manufacturing and 
                            distributing quality multipurpose liquid soap that has gained traction 
                            in about 3 districts; Hoima, Kikuube and Kagadi in Uganda. 
                            Action Against Hunger, a humanitarian organization contracted us to supply
                            fresh food items-which falls under our “Supply of food and non-food item 
                            business” to over 200 beneficiaries in 2022 - for 6 months. 
                        </p>
                            <!--<br>
                            <div class="abt-btn">
                                <input type="button" value="Read more" id="abt-btn">
                            </div>-->
                    </div>
                    <div class="pic">
                        <img src="/images/members1.jpeg" alt="image">
                    </div>
                </div>
                <div class="statements">
                    <div class="wrapper">
                        <div class="card">
                            <h3>Our Mission</h3>
                            <span>To offer a wide range of quality, sustainable and scalable products and services that are customer centered and address customers’ needs</span>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="card">
                            <h3>Our Vision</h3>
                            <span>Most preferred quality, Sustainable and Scalable products and services that address customers’ pain points or needs.</span>
                        </div>
                    </div>
                </div>
                <h2 class="team-header">Meet our Team</h2>
                <div class="abt-rule"></div>
                <div class="team">
                    <div class="person">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <div class="desc">
                            <h3>Songe Emmanuel</h3>
                            <h4>Chairman Board</h4>
                        </div>
                    </div>
                    <div class="person">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <div class="desc">
                            <h3>Amani Albert</h3>
                            <h4>Chief Executive Officer</h4>
                        </div>
                    </div>
                    <div class="person">
                        <img src="https://avatars.githubusercontent.com/u/63627595?v=4" alt="person">
                        <div class="desc">
                            <h3>Nandweza Allan</h3>
                            <h4>Chief Finance Officer</h4>
                        </div>
                    </div>
                    <div class="person">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <div class="desc">
                            <h3>Bora Rwarinda</h3>
                            <h4>Chief Operations Officer</h4>
                        </div>
                    </div>
                    <div class="person">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <div class="desc">
                            <h3>Nsabimana Teophile</h3>
                            <h4>Chief Marketing Staff</h4>
                        </div>
                    </div>
                    <div class="person">
                        <img src="images/female.jpg" alt="person">
                        <div class="desc">
                            <h3>Anifa Amooti</h3>
                            <h4>Marketing Staff</h4>
                        </div>
                    </div>
                    <div class="person">
                        <img src="images/female.jpg" alt="person">
                        <div class="desc">
                            <h3>Mashagbe Sware</h3>
                            <h4>Director</h4>
                        </div>
                    </div>
                    <div class="person">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <div class="desc">
                            <h3>Nsengiyumva Philemeon</h3>
                            <h4>Director</h4>
                        </div>
                    </div>
                    <div class="person">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrvSbizvnY0c2sfqq71ANwRU_KyAdmYPI1wA&usqp=CAU" alt="person">
                        <div class="desc">
                            <h3>Jimmy Jean</h3>
                            <h4>Director</h4>
                        </div>
                    </div>
                </div>
                <hr>
                <h2 class="partners-header">Our Partners</h2>
                <div class="abt-rule"></div>
                <div class="partners">
                    <div class="logo-p">
                        <img src="https://www.lutheranworld.org/sites/default/files/LWF%20Logo%20Horizontal%20EN_0_0.png" alt="">
                    </div>
                    <div class="logo-p">
                        <img src="https://globalhandwashing.org/wp-content/uploads/2020/10/ACF-logo.jpg" alt="">
                    </div>
                    <div class="logo-p">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRg16NpbkCyMtZF1imEcRuVh2lOXSf_dNGOw2yUuH88g&s" alt="">
                    </div>
                </div>
                <div class="contact-us">
                    <h2>Contact Us</h2>
                    <div class="abt-rule"></div>
                    <h3>Happy Times Investments Ltd</h3>
                    <p>P.O Box 236, Hoima, Uganda</p>
                    <p>Tel: +256788266754 | +256703737369</p>
                    <p>Email: happytimesinvestmentsltd@gmail.com</p>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>