<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <nav class="sidebar">
            <ul>
                <li>
                    <a href="/views/admin.ejs">Home</a>
                    <a href="/views/createBlog.ejs">Post</a>
                    <a href="/views/allBlogs.ejs">Blog</a>
                    <a href="/addProducts">Products</a>
                </li>
            </ul>
        </nav>
        <main>
            <h1>Welcome!</h1>
        </main>
    </body>
</html>