<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <div class="topbar-a">
          <div class="cname">
            <h1>Happy Times Investments Ltd</h1>
          </div>
          <div class="icons">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-bell fa-inverse" style="color:rgb(20, 19, 19);"></i>
          </div>
        </div>
        <nav class="sidebar">
            <ul>
                <li>
                    <div class="sidebar-h">DashBoard</div>
                    <a href="/">
                      <div class="client">Go to Page</div>
                    </a>
                    <a href="/admin">
                      <div>Home</div>
                    </a>
                    <button class="dropdown-btn">Posts
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                      <a href="#">All Posts</a>
                      <a href="/createBlog">New Posts</a>
                    </div>
                    <button class="dropdown-btn">Products
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                      <a href="#">All Products</a>
                      <a href="/addProducts">Add Product</a>
                      <a href="#">Update</a>
                      <a href="#">Delete</a>
                    </div>
                    <button class="dropdown-btn">Settings
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                      <a href="#">My Account</a>
                      <a href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <main class="admin">
            <div class="wrapper">
              <div class="card">
                <div class="content1"></div>
              </div>
            </div>
        </main>
    </body>
</html>

<script>
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>