<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <div class="topbar-a">
          <div class="cname">
            <h1>Happy Times Investments Ltd</h1>
          </div>
          <div class="icons">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-bell fa-inverse" style="color:rgb(20, 19, 19);"></i>
          </div>
        </div>
        <nav class="sidebar">
            <ul>
                <li>
                    <div class="sidebar-h">DashBoard</div>
                    <a href="/">
                      <div class="client">Go to Page</div>
                    </a>
                    <a href="/admin">
                      <i class="fa fa-home"></i>
                      <div>Home</div>
                    </a>
                    <label for="posts">Posts</label>
                    <option value="All Posts"></option>
                    <option value="New Post"></option>
                    <a href="/createBlog">
                      <i class="fa fa-sticky-note-o"></i>
                      <div>Posts</div>
                    </a>
                    <a href="/addProducts">
                      <i class="fab fa-product-hunt"></i>
                      <div>Products</div>
                    </a>
                    <a href="/settings">
                      <i class="fa fa-gear"></i>
                      <div>Settings</div>
                    </a>
                </li>
            </ul>
        </nav>
        <main class="admin">
            <div class="wrapper">
              <div class="card">
                <div class="content1"></div>
              </div>
            </div>
        </main>
    </body>
</html>