<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div id="intro-carousel" class="carousel slide d-flex justify-content-center align-items-center" data-bs-ride="carousel" style="height: 85vh;">
            <div class="carousel-inner pt-5">
              	<div class="carousel-item active">
                	<div class="text-center">
                  		<h2 class="fs-*">Contact Us...</h2>
                	</div>
             	</div>
              	<div class="carousel-item">
                	<div class="text-center">
                  		<em class="carousel-em fs-*">
                    	  Elevating your happiness regularly...
                  		</em>
                	</div>
              	</div>
            </div>
            <button class="carousel-control-prev pt-5" type="button" data-bs-target="#intro-carousel" data-bs-slide="prev">
              	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
              	<span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next pt-5" type="button" data-bs-target="#intro-carousel" data-bs-slide="next">
              	<span class="carousel-control-next-icon" aria-hidden="true"></span>
              	<span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="" id="section-map">
          	<div class="mapouter">
            	<div class="gmap_canvas">
            		<iframe 
                		width="100%" 
                		height="400" 
                		id="gmap_canvas" 
                		src="https://maps.google.com/maps?q=Kyangwali%20Refugee%20settlement&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                		frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            		</iframe><br>
            		<!--<style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
            		<a href="https://www.embedgooglemap.net">how to add google map in wordpress</a>
            		<style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>-->
            	</div>
        	</div>
        </div>
		<div class="section-bg" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-12">
						<h3>Get in touch</h3>
						<div>
							<i class="fa fa-map-marker" style="font-size: 50px; color: rgb(233, 107, 34);"></i><P>P.O Box 236, Hoima, Uganda<br>Kyangwali, Kasonga</P>
							<i class="fa fa-phone-square" style="font-size: 50px; color: rgb(233, 107, 34);"></i><p>+256788266754 | +256703737369</p>
							<i class="fa fa-envelope" style="font-size: 50px; color: rgb(233, 107, 34);"></i><p class="to-top">happytimesinvestmentsltd@gmail.com</p>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12">
						<h3>Send us a message</h3>
						<form class="contact-Form" method="post" action="/contact">
							<div class="form-group">
								<input type="text" name="name" id="name" placeholder="Enter your name" class="form-control" required>
							</div>
							<div class="form-group">
								<input type="email" name="email" id="email" placeholder="Enter your email" class="form-control" required>
							</div>
							<div class="form-group">
								<input type="text" name="subject" id="subject" placeholder="Subject" class="form-control" required>
							</div>
							<div class="form-group">
								<textarea id="message" name ="message" col="30" row="10" placeholder="Write message" class="form-control" required></textarea>
							</div>
							<input class="btn btn-primary p-2 btn-adjust" type="submit" value="Submit">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-us">
            <h2>Contact Us</h2>
            <div class="abt-rule"></div>
            <h3>Happy Times Investments Ltd</h3>
            <p>P.O Box 236, Hoima, Uganda</p>
            <p>Tel: +256788266754 | +256703737369</p>
            <p>Email: happytimesinvestmentsltd@gmail.com</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
