<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="contact content">
            <h2>Contact Us</h2>
            <div class="row">
                <div class="col1">
                    <p>location...</p>
                </div>
                <div class="col2">
                    <form action="" method="post" class="">
                        <input type="text" value="name" placeholder="Enter your name" id="name">
                        <input type="email" value="email" placeholder="Enter your Email" id="email">
                        <input type="text" value="subject" placeholder="Subject" id="subject">
                        <textarea id="txt" col="10" row="7" placeholder="Type here.."></textarea>
                    </form>
                </div>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>