<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="home content">
            <h1>Happy Times Investments Limited</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                Consequatur eos repellat, amet doloribus consequuntur a<br>
                assumenda perspiciatis saepe eligendi impedit nobis error<br>
                veniam quidem excepturi ipsam earum corporis aspernatur sunt?</p>
            <a href="/contact"><input type="button" value="GET IN TOUCH" class="btn"></a>
            </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>