<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>

        <div class="home">
            <p>Elevating your Happiness Regulary</p>
            <input type="button" value="Shop Now" class="btn">
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>