<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <div class="login-main">
            <form action="/login" method="POST">
                <div class="error" style="background-color: red;"></div>
                <div class="back">
                    <a href="/">
                        <div class="back-to-home">BACK TO HOME</div>
                    </a>
                </div>
                <legend>LOGIN</legend>
                <input type="text" name="username" id="username" class="uname" placeholder="Username" required>
                <br>
                <input type="password" name="password" id="password" class="pwd" placeholder="Password" required>
                <br>
                <button type="submit" class="l-btn">Login</button>
            </form>
        </div>
    </body>
</html>