<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include(''./partials/nav.ejs') %>

        <form action="" method="POST">
            <legend>LOGIN</legend>
            <input type="text" name="name" id="name" placeholder="Enter Name" required>
            <input type="password" name="password" id="password" placeholder="Enter Password" required>
        </form>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>