<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <div class="login-main">
            <form action="/login" method="POST">
                <div class="back">
                    <a href="/"></a><i class="fa fa-home" style="font-size: 50px;"></i></a>
                </div>
                <legend>LOGIN</legend>
                <input type="text" name="name" class="uname" placeholder="Username" required>
                <br>
                <input type="password" name="password" class="pwd" placeholder="Password" required>
                <br>
                <input type="button" value="Login" name="login" class="l-btn">
            </form>
        </div>
    </body>
</html>