<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="products">
            <div class="products-main">
                <div class="product">
                    <h2>Our Products</h2>
                    <div class="soap-card">
                        <h3>Happy Wash Liquid Soap.</h3>
                        <div class="soap-grid">
                            <div class="soap">
                                <img src="https://thumbs.dreamstime.com/b/liquid-soap-plastic-bottle-disinfectant-solution-isolated-white-178502386.jpg"
                                 class="soap-image"
                                 alt="1 litre Liquid Soap"
                                />
                                <p>Liquid Soap:<br>Multi purpose.<br>1 Litre<br>UGX 4,000<br>
                                <!--<a href="#"><button class="shop">Shop</button></a></p>-->
                            </div>
                            <div class="soap">
                                <img src="https://thumbs.dreamstime.com/b/liquid-soap-plastic-bottle-disinfectant-solution-isolated-white-178502386.jpg"
                                 class="soap-image"
                                 alt="5 litre Liquid Soap"
                                />
                                <p>Liquid Soap:<br>Multi purpose.<br>5 Litre<br>UGX 15,000<br>
                                <!--<a href="#"><button class="shop">Shop</button></a></p>-->
                            </div>
                            <div class="soap">
                                <img src="https://thumbs.dreamstime.com/b/liquid-soap-plastic-bottle-disinfectant-solution-isolated-white-178502386.jpg"
                                 class="soap-image"
                                 alt="10 litre Liquid Soap"
                                />
                                <p>Liquid Soap:<br>Multi purpose.<br>10 Litre<br>UGX 30,000<br>
                                <!--<a href="#"><button class="shop">Shop</button></a></p>-->
                            </div>
                            <div class="soap">
                                <img src="https://thumbs.dreamstime.com/b/liquid-soap-plastic-bottle-disinfectant-solution-isolated-white-178502386.jpg"
                                 class="soap-image"
                                 alt="20 litre Liquid Soap"
                                />
                                <p>Liquid Soap:<br>Multi purpose.<br>20 Litre<br>UGX 60,000<br>
                                <!--<a href="#"><button class="shop">Shop</button></a></p>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services">
                    <h2>Our Services</h2>
                    <div class="service-grid">
                        <div class="service">
                            <h3>Lorem ipsum dolor</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et autem eveniet at nisi sapiente nulla sed illo provident veniam voluptatibus dolor ducimus quos perspiciatis facilis nesciunt, vel praesentium aperiam voluptates?</p>
                        </div>
                        <div class="service">
                            <h3>Lorem ipsum dolor</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et autem eveniet at nisi sapiente nulla sed illo provident veniam voluptatibus dolor ducimus quos perspiciatis facilis nesciunt, vel praesentium aperiam voluptates?</p>
                        </div>
                        <div class="service">
                            <h3>Lorem ipsum dolor</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et autem eveniet at nisi sapiente nulla sed illo provident veniam voluptatibus dolor ducimus quos perspiciatis facilis nesciunt, vel praesentium aperiam voluptates?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>