@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-white: whitesmoke;
    --main-black: rgb(20, 30, 40);
    --main-orange: rgb(233, 107, 34);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    font-size: 68%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: var(--main-white);
    color: var(--main-black);
    padding: 0;
    margin: 0 auto;
    font-family: 'poppins', serif;
    width: 100vw;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    padding-right: 30px;
    color: var(--main-white);
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

h3 {
    font-size: 3rem;
    font-weight: bold;
}

h4 {
    font-size: 2rem;
    font-weight: bold;
}

h5 {
    font-size: 1.3rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
}

span {
    font-size: 1.1rem;
}

.section-bg {
    padding: 5%;
    background: linear-gradient(180deg, #ece2e2 0%, white 100%);
}

.nav-links {
    font-size: 18px;
}

#intro-carousel {
    background-color: var(--main-orange);
}

.carousel h2 {
    font-size: 5.5rem;
    font-weight: 800;
}

.carousel em {
    font-size: 2rem;
}

.home {
    width: 100vw;
    height: 100vh;
    color: var(--main-black);
    background-color: var(--main-white);
    background-size: cover;
    background-image: url("/images/brenda.jpg");
    opacity: 100%;
}

@media (max-width: 500px) {
    .home {
        background-image: url("https://images.unsplash.com/photo-1556227702-5ec9eb8df3ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGxpcXVpZCUyMHNvYXAlMjBjb21wYW55fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    }
}

.home h1 {
    color: var(--main-white);
    text-shadow: 3px 3px 2px var(--main-black);
    font-size: 5.5rem;
    font-weight: 1000;
    font-family:Arial, Helvetica, sans-serif;
}

.home p {
    color: var(--main-white);
    text-shadow: 2px 2px 1px var(--main-black);
    font-size: 3.5rem;
    font-weight: bold;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.home .btn {
    font-size: 20px;
    font-weight: 600;
    background-color: var(--main-orange);
}

.home-mid,
.home-lower {
    color: var(--main-black);
    padding: 5% 10%;
    font-size: 1.2rem;
}

.home-mid .fa {
    color: var(--main-orange);
}

.home-lower {
    background-color: var(--main-orange);
}

.home-lower h5 {
    color: var(--main-white);
}


.home-lower p {
    font-size: 1.2rem;
    font-weight: lighter;
    color: var(--main-white);
}

.home-lower-btn {
    font-size: 1.2rem;
    width: auto;
    padding: 5px;
    border-radius: 25px;
    background-color: var(--main-orange);
}

.home-lower .right {
    padding-left: 150px;
}

/* intro */

.intro {
    width: 100vw;
    height: 80vh;
    background-image: url("images/timon-studler-BIk2ANMmNz4-unsplash.jpg");
    background-size: cover;
    opacity: 100%;
}

/* end */

footer {
    /* display: flex;
    flex-direction: row-reverse; */
    background-color: var(--main-black);
    color: var(--main-white);
    padding: 2% 5%;
    font-size: 1rem;
}

footer ul {
    text-align: right;
}

footer li {
    display: inline;
}

footer p {
    font-size: 1.7rem;
    font-weight: lighter;
}

/* about section */
.about {
    color: var(--main-black);
}

.position {
    font-size: 1.7rem;
}

.logo-p {
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
    background-color: white;
}

.logo-p img {
    width: 200px;
    height: 200px;
}

.contact-us {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-us h2 {
    font-size: 2.5rem;
    font-weight: 600;
 
}

.contact-us h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0;
}

.contact-us p {
    font-size: 1.8rem;
    font-weight: lighter;
    margin: 0;
}

@media (max-width: 420px) {
    .contact-us h2 {
        font-size: 1.8rem;
        font-weight: 400;
        text-align: center;
    }
    .contact-us h3 {
        font-size: 1.4rem;
        font-weight: 300px;
        text-align: center;
    }
    .contact-us p {
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 300px) {
    .about-main h2 {
        font-size: 1.8rem;
    }
    .team-header {
        font-size: 1.8rem;
    }
    .mgt-team-header {
        font-size: 1.8rem;
    }
    #abt-btn {
        font-size: 1.5rem;
        width: 100px;
        padding: 1px 10px;
    }
    .person img {
        width: 90px;
    }
    .partners .logo-p img {
        width: 100px;
        height: 100px;
        margin: 0;
        padding: 0;
    }
    .contact-us h2 {
        font-size: 1.4rem;
        font-weight: 600;
    }
    .contact-us h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .contact-us p {
        font-size: 0.7rem;
        text-align: center;
        font-weight: 500;
    }
}
/* end about section */

/* products section */
#product .desc {
    color: var(--main-orange);
}

#product p {
    color: var(--main-black);
}

/* service section */

/* end product section */

/* blog section */

#blog {
    padding-left: 12%;
    padding-right: 12%;
}

/* create blog section */
.create-blog-main {
    margin-left: 160px;
    height: auto;
}
.create-blog{
    margin: 0 25px;
}

.create-blog-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.create-blog-form form {
    text-align: center;
}

form .admin-form {
    border: none;
    margin: 0;
    padding: 0;
}

form .postTitle {
    padding-bottom: 100px;
}

form #title {
    font-size: 2rem;
    width: 90%;
}

form #body {
    font-size: 1.8rem;
    text-align: left;
}

form #blogimg {
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

/* display single blog page */
#single-blog {
    padding-left: 10%;
    padding-right: 10%;
}

#single-blog p {
    font-size: 1.4rem;
}

/* end blog section */

/* contact section */
#contact {
    padding-left: 12%;
    padding-right: 12%;
}

#contact p {
    font-size: 1.5rem;
}

input[type=text], [type=email], textarea {
    width: 100%;
    padding: 16px 10px;
    border: 2px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 5px;
}
  
input::-webkit-input-placeholder {
    font-size: 1.5rem;
    line-height: 3;
}
  
textarea::placeholder {
    font-size: 1.5rem;
}

#contact .btn {
    font-size: 1.5rem;
    font-weight: bold;
}
/* end contact section */

/* login section */

.login-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin-top: 200px;
    margin-bottom: 150px;*/
    height: 100vh;
    background-image: url("/images/happy.jpg");
    background-size: cover;
}

.login-main form {
    border: 2px solid red;
    border-radius: 5px;
    padding: 70px;
    text-align: center;
    background-color: gray;
    opacity: 60%;
}

.login-main form legend {
    font-weight: 600;
    font-size: 1.8rem;
}

.login-main form .back-to-home {
    text-align: center;
    background-color:#262626;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.8rem;
}

.login-main form .uname, .pwd {
    width: 100%;
    padding: 10px;
    border: 1px double orangered;
    border-radius: 10px;
    margin-top: 10px;
    resize: vertical;
    font-size: 1.8rem;
    box-shadow: 1px 1px 2px 2px black;
}

.login-main form .l-btn {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border: 1px double orangered;
    border-radius: 20px;
    font-size: 1.8rem;
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px black;
}

@media (max-width: 700px) {
    .login-main form {
        padding: 40px;
    }
    
    .login-main form legend {
        font-size: 1.7rem;
    }
    
    .login-main form .back-to-home {
        width: 90%;
        margin: 0 auto;
        padding: 8px;
        font-size: 1.7rem;
    }
    
    .login-main form .uname, .pwd {
        width: 90%;
        padding: 8px;
        font-size: 1.7rem;
    }
    
    .login-main form .l-btn {
        width: 90%;
        font-size: 1.7rem;
    }
}

@media (max-width: 400px) {
    .login-main form {
        padding: 5px;
    }
    
    .login-main form legend {
        font-size: 1.5rem;
    }
    
    .login-main form .back-to-home {
        width: 70%;
        padding: 5px;
        font-size: 1.5rem;
    }
    
    .login-main form .uname, .pwd {
        width: 70%;
        padding: 5px;
        font-size: 1.5rem;
    }
    
    .login-main form .l-btn {
        width: 70%;
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

/* end login section */

/* Admin page */
.sidebar {
    color: var(--main-black);
    width: 220px;
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #f1f1f1;
    position: fixed;
    top: 50px;
}

.sidebar ul {
    margin-left: 0;
}

.sidebar .sidebar-h {
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    font-weight: 600;
}

.sidebar a {
    color: var(--main-black);
}

.sidebar .client {
    border: 2px solid black;
    border-radius: 5px;
    background-color: gray;
    padding: 3px;
    text-align: center;
}

.topbar-a {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #f1f1f1;
    width: 100%;
    color:rgb(20, 30, 40);
    height: 50px;
    opacity: 96%;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Style the sidenav links and the dropdown button */
.sidebar a, .dropdown-btn {
    padding: 25px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-radius: 0;
  }
  
  /* On mouse-over */
  .sidebar a:hover, .dropdown-btn:hover {
    color: var(--main-white);
    background-color: var(--main-black);
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: var(--main-orange);
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: var(--main-white);
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

.topbar-a h1 {
    text-align: center;
    padding-top: 10px;
    padding-left: 100px;
    font-size: 20px;
}

.topbar-a .icons {
    font-size: 20px;
    padding-left: 600px;
    cursor: pointer;
    color:rgb(20, 19, 19);
}

.topbar-a .icons .fa {
    padding: 10px;
}

.admin {
    margin: 220px;
    margin-top: 20px;
    margin-bottom: 0;
}

.admin .admin-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4rem;
    margin-left: 50px;
}

.admin .admin-grid .admin-home-card {
    width: 300px;
    height: 150px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    color: black;
}

.grid-info {
    color: var(--main-black);
    font-size: 2rem;
}

.grid-info .fa {
    font-size: 4rem;
}

.admin-logo {
    padding-top: 10px;
    margin: 20px;
    width: 50px;
    height: 50px;
}

/* all blogs by admin*/
.all-admin-main {
    margin: 160px;
    margin-top: 0;
}

.admin-posts, 
.admin-products,
.admin-service,
.product-service-wrapper {
    padding: 50px;
}

.admin-posts img {
    width: 100%;
    height: 400px;
}

.posts-wrapper, 
.products-wrapper,
.service-wrapper {
    background-color: white;
}

.posts-wrapper form, 
.products-wrapper form,
.service-wrapper form {
    padding: 50px;
    color: var(--main-black);
}

.posts-wrapper form .icons-2 button, 
.products-wrapper form .icons-2 button,
.service-wrapper form .icons-2 button {
    margin-top: 20px;
    padding: 0px;
    cursor: pointer;
    border: none;
    width: 70px;
    padding: 10px;
    margin: 2px;
}

.posts-wrapper form .icons-2 button:hover,
.products-wrapper form .icons-2 button:hover,
.service-wrapper form .icons-2 button:hover {
    background-color: var(--main-orange);
}

/*add products and service*/
.product-service-wrapper {
    margin-top: 0;
    padding: 20px;
    padding-left: 100px;
    color: var(--main-black);
}
.add-product-form,
.add-service-form {
    background-color: #f1f1f1;
    padding: 30px;
}

/* End Admin page*/
