@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-white: whitesmoke;
    --main-black: rgb(20, 30, 40);
    --main-orange: rgb(233, 107, 34);
}

html {
    font-size: 68%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: var(--main-white);
    color: linen;
    padding: 0;
    margin: 0 auto;
    font-family: 'poppins', serif;
    width: 100vw;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    padding-right: 30px;
    color: var(--main-white);
}

a:hover {
    text-decoration: none;
    color: blue;
}

/*nav {
    /*background: linear-gradient(var(--main-orange) 0%, rgb(238, 82, 25) 30%, var(--main-black) 100%);*/
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding-top: 10px;
    position: fixed;
    width: 100vw;
    margin: 0;
    z-index: 1;
}*/
.navbar {
    background: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    transition: all 300ms ease-in-out;
    /*background-color: transparent;*/
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 20px auto;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: var(--main-black);
    font-size: 1.6rem;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    /*border-radius: 25px;*/
  }

  nav a:hover {
    color: var(--main-white);
    text-shadow: 1px 1px 1px 1px solid #262626;
    border-bottom: 2px solid var(--main-white);
    padding-bottom: 2px;
  }

  nav .langs {
    font-size: 14px;
    margin: 10px;
    margin-right: 50pxs;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-black);
  }
  .sticky + .content {
    padding-top: 60px;
  }

nav .logo {
    margin-right: 150px;
    margin-left: 50px;
    width: 70px;
}

nav .login {
    margin-left: 200px;
}

nav .langs {
    border-radius: 25px;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

@media (max-width: 1212px) {
    nav .logo {
        margin-left: 5px;
        margin-right: 40px;
    }
    nav li a {
        font-size: 1.4rem;
        text-align: left;
        padding: 12px 8px;
    }
    nav .login {
        margin-left: 150px;
    }
    nav .langs {
        width: 90%;
    }
}

.dropdown {
    display: none;
}

@media (max-width: 900px) {
    .dropdown .logo {
        margin-top: 30px;
        margin-left: 40px;
        width: 50px;
        text-align: center;
    }
    .navbar ul {
        display: none;
    }
    .drop-btn {
        float: right;
        text-align: center;
        padding: 0 8px;
        font-size: 30px;
        border: none;
        border-radius: 0;
        cursor: pointer;
        width: 50px;
        background: none;
        margin-top: 30px;
        margin-left: 20px;
    }
    .dropdown {
        width: auto;
        background: none;
        position: fixed;
        display: flex;
        flex-direction: row-reverse;
    }
    .dropdown-nav {
        right: 0;
        display: none;
        position: absolute;
        padding: 12px 16px;
        background-color: var(--main-black);
        z-index: 1;
    }
    .dropdown-nav a {
        color: var(--main-white);
        float: none;
        display: block;
        padding: 12px 16px;
        text-decoration: none;
    }
    .dropdown:hover .dropdown-nav {
        display: block;
    }
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100vw;
    height: 100vh;
    color: var(--main-black);
    background-color: var(--main-white);
    background-size: cover;
    background-image: url("/images/brenda.jpg");
    opacity: 100%;
}

@media (max-width: 500px) {
    .home {
        background-image: url("/images/brooke.jpg");
    }
}

.home-upper {
    margin-top: 200px;
}

.home h1 {
    color: var(--main-orange);
    font-size: 2.8rem;
    font-weight: 1000;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    margin-top: 120px;
    margin-left: 100px;
}

.home p {
    color: var(--main-orange);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 100px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

@media (max-width: 700px) {
    .home h1 {
        font-size: 2.4rem;
        margin-left: 50px;
    }
    .home p {
        font-size: 1.5rem;
        margin-left: 80px;
    }
}

@media (max-width: 498px) {
    .home {
        height: 80vh;
    }
    .home h1 {
        text-align: center;
        font-size: 1.8rem;
    }
    .home p {
        text-align: center;
        font-size: 1.2rem;
        margin: 10px auto;
    }
}

@media (max-width: 320px) {
    .home {
        height: 70vh;
    }
    .home h1 {
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
    }
    .home p {
        margin: 5px 0;
        text-align: center;
        font-size: 0.8rem;
    }
}

.home-mid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4;
    margin: 0 auto;
}

.home-mid .light {
    font-size: 1.2rem;
    margin: 0 auto;
    width: 200px;
    padding: 5px;
    text-align: center;
    background-color: #f1f1f1;
}

.home-mid .light .keys {
    text-align: left;
}

.home-mid .light .icon-title {
    display: none;
}

.home-mid .light .icon-title:hover {
    display: inline;
}

.home-mid .light .keys li {
    list-style: disc;
}

.home-mid .left, .home-mid .right {
    background-color: var(--main-black);
    color: white;
    height: 200px;
    margin-top: 350px;
}

.home-mid .mid {
    background-color: var(--main-orange);
    color: white;
    margin-top: 335px;   
}

.light span {
    font-weight: 800;
    opacity: 100%;
}

.home-lower {
    display: inline;
    margin: 50px auto;
    background-color: var(--main-white);
}

.home-lower-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4;
    margin: 0 auto;
}

.home-lower-wrapper .lower {
    width: 400px;
    margin: 0 auto;
}

.home-lower-wrapper .left {
    margin-top: 250px;
    margin-right: 0;
    margin-left: 200px;
}

.home-lower-wrapper .lower h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--main-orange);
}

.home-lower-wrapper .lower p {
    font-size: 1.2rem;
    font-weight: lighter;
    color: var(--main-black);
    text-align: left;
    margin-bottom: 0;
}

.home-lower-btn {
    font-size: 1.2rem;
    width: auto;
    padding: 5px;
    margin-bottom: 50px;
    border-radius: 25px;
    background-color: var(--main-orange);
}

.home-lower-wrapper .right {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 250px;
    margin-right: 150px;
    padding: 20px 0;
}

.home-lower-wrapper .right .lower-img img {
    width: 120px;
    height: 120px;
}

.home-lower-wrapper .right .img-one {
    margin-left: 0;
}

.home-lower-wrapper .right .img-two {
    margin-right: 200px;
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .home-upper {
        margin-top: 200px;
    }
    .home-mid .left, .home-mid .right {
        margin-top: 260px;
    }
    .home-mid .mid {
        margin-top: 245px;
    }
}

@media (max-width: 1050px) {
    .home-lower-wrapper .left {
        margin-right: 0;
        margin-left: 30px;
    }
}

@media (max-width: 700px) {
    .home-upper p {
        display: none;
    }
    .home-mid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 4;
        margin: 0 auto;
    }
    .home-mid .mid {
        display: none;
    }
    .home-mid .light {
        margin-top: 150px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .home-lower-wrapper {
        margin: 0 auto;
    }
    .home-lower-wrapper .left {
        width: 300px;
        margin-left: 100px;
    }
    .home-lower-wrapper .left p {
        margin-top: 30px;
    }
    .home-lower-btn {
        margin-top: 50px;
    }
    .home-lower-wrapper .right {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 20px;
    }
    .home-lower-wrapper .right .img-one {
        margin: 0;
    }
    .home-lower-wrapper .right .img-two {
        margin-top: 5px;
    }
}

@media (max-width: 600px) {
    .home-lower-wrapper .right {
        display: none;
    }
}

@media (max-width: 500px) {
    .home-mid {
        display: flex;
        flex-direction: column;
        margin-top: 600px;
        margin-bottom: 200px;
    }
    .home-mid .right {
        margin-top: 10px;
        margin-bottom: 200px;
    }
    .home-lower-wrapper .lower h3 {
        margin-top: 150px;
    }
}

@media (max-width: 450px) {
    .home-lower-wrapper .left {
        margin-left: 50px;
        width: 200px;
    }
    .home-lower-btn {
        font-size: 0.9rem;
        padding: 2px;
    }
}

/* .home-lower-wrapper .left, .home-lower-wrapper .right {
    width: 40%;
}

.home-lower-wrapper .left {
    margin-left: 200px;
}

.home-lower-wrapper .right {
    margin-right: 300px;
} */

/* intro */

.intro {
    width: 100vw;
    height: 80vh;
    background-image: url("images/timon-studler-BIk2ANMmNz4-unsplash.jpg");
    background-size: cover;
    opacity: 100%;
}

/* end */

footer {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--main-black);
    color: var(--main-white);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1rem;
}

footer .connect {
    margin-right: 50px;
}

footer .connect li {
    display: inline;
}

footer .ftext {
    font-size: 1.7rem;
    font-weight: lighter;
    margin-right: 300px;
}

@media (max-width: 1210px) {
    footer {
        display: block;
    }
    footer .connect {
        text-align: center;
        margin: 0 auto;
    }
    footer .ftext {
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    footer .ftext {
        font-size: 1.3rem;
    }
}

@media (max-width: 400px) {
    footer .connect {
        margin-right: 3px;
    }
    footer .ftext {
        font-size: 1rem;
        margin: 0 auto;
    }
}

@media (max-width: 370px) {
    footer {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    footer .connect .fa {
        font-size: 10px;
        padding: 5px;
        text-align: center;
    }
}

@media (max-width: 320px) {
    footer {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    footer .connect {
        margin: 0 5px;
    }
    footer .connect .fa {
        font-size: 1px;
        padding: 1px;
        text-align: center;
    }
    .ftext p{
        padding: 0 5px;
        font-size: 0.8rem;
    }
}

/* about section */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: var(--main-black);
    background-color: var(--main-white);
    width: 100vw;
    
}

.about h1,
.intro-post h1 {
    margin-top: -300px;
    padding-bottom: 200px;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    color: var(--main-black);
}

.intro-text {
    margin-top: -250px;
    padding-bottom: 300px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--main-black);
    margin-left: auto;
    margin-right: auto;
}

.abt-intro {
    margin-top: -200px;
    width: 400px;
    padding-bottom: 150px;
    text-align: center;
}

.about-main {
    margin: 100px 50px 0px 50px;
}

@media (max-width: 300px) {
    .about-main {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.about-main h2 {
    font-size: 2.5rem;
    color: var(--main-orange);
    text-align: center;
    margin-bottom: 2px;
}

.abt-rule {
    width: 300px;
    height: 1px;
    border: 1px solid var(--main-orange);
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.upper-rule {
    width: 600px;
}

@media (max-width: 700px) {
    .about-main h2 {
        margin-bottom: 10px;
    }
    .abt-rule, .upper-rule {
        display: none;
    }
}

.abt {
    display: flex;
}

.desc {
    flex: 50%;
    padding: 5px;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--main-black);
}

.abt-btn {
    width: auto;
    text-align: center;
}

#abt-btn {
    width: 150px;
    padding: 2px 20px;
}

.pic {
    flex: 60%;
    border: 10px solid white;
}

.pic img {
    height: 100%;
    width: 100%;
}

@media (max-width: 950px) {
    .desc {
        flex: 50%;
    }
    .pic {
        flex: 70%;
    }
}
@media (max-width: 855px) {
    .abt {
        flex-direction: column-reverse;
    }
}

.statements {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4rem;
    margin: 50px 30px 0px 30px;
}

.statements .wrapper {
    text-align: center;
    color: var(--main-white);
}

.statements .wrapper .card {
    background-color: var(--main-black);
    padding: 15px;
    font-size: 1.2rem;
}

.statements .wrapper .card h3{
    font-size: 2rem;
    font-weight: 800;
    color: var(--main-orange);
    border-bottom: 1px solid var(--main-orange);
}

@media (max-width: 1000px) {
    .statements {
        grid-gap: 2rem;
        margin: 50px 10px 0px 10px;
    }
    
    .statements .wrapper .card {
        padding: 8px;
        font-size: 1.1rem;
    }
}

@media (max-width: 855px) {
    .statements {
        display: block;
    }
    .statements .wrapper {
        padding: 10px;
    }
    .statements .wrapper .card {
        padding: 8px;
        font-size: 1.1rem;
    }
}

@media (max-width: 680px) {
    .statements .wrapper .card {
        padding: 4px;
        font-size: 1rem;
    }
    .statements .wrapper .card h3{
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .statements {
        margin: 20px 5px 0px 5px;
    }
    
    .statements .wrapper .card {
        padding: 2px;
        font-size: 0.8rem;
    }
    .statements .wrapper .card h3{
        font-size: 1.5rem;
    }
}

.team-header {
    margin-top: 80px;
}

.team {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-gap: 4rem;
    margin-top: 20px;
    padding: 20px;
}

@media (max-width: 900px) {
    .team {
        overflow: scroll;
        grid-gap: 1rem;
        padding: 5px;
    }
}

.person {
    text-align: center;
}

.person img {
    border: none;
    width: 200px;
    height: 200px;
}

.person .desc {
    color: var(--main-orange);
    width: 200px;
    margin: 0 auto;
}

.person .desc h3, h4 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.person .desc h3{
    font-size: 1.8rem;
    color: var(--main-black);
    font-weight: 800;
}
.person .desc h4{
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-black);
}

.sub-title {
    font-size: 2rem;
}

.partners {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
}

@media (max-width: 900px) {
    .partners {
        grid-gap: 0.2rem;
    }
    .partners .logo-p img {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 420px) {
    .about-main h2 {
        text-align: center;
    }
    .team-header {
        text-align: center;
    }
    .person img {
        width: 120px;
    }
    .partners {
        display: block;
    }
    .partners-header {
        text-align: center;
    }
    .partners .logo-p img {
        width: 200px;
        height: 200px;
    }
}

.logo-p {
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
    background-color: white;
}

.logo-p img {
    width: 200px;
    height: 200px;
}

.contact-us {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-us h2 {
    font-size: 2.5rem;
    font-weight: 600;
 
}

.contact-us h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0;
}

.contact-us p {
    font-size: 1.8rem;
    font-weight: lighter;
    margin: 0;
}

@media (max-width: 420px) {
    .contact-us h2 {
        font-size: 1.8rem;
        font-weight: 400;
        text-align: center;
    }
    .contact-us h3 {
        font-size: 1.4rem;
        font-weight: 300px;
        text-align: center;
    }
    .contact-us p {
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 300px) {
    .about-main h2 {
        font-size: 1.8rem;
    }
    .team-header {
        font-size: 1.8rem;
    }
    .mgt-team-header {
        font-size: 1.8rem;
    }
    #abt-btn {
        font-size: 1.5rem;
        width: 100px;
        padding: 1px 10px;
    }
    .person img {
        width: 90px;
    }
    .partners .logo-p img {
        width: 100px;
        height: 100px;
        margin: 0;
        padding: 0;
    }
    .contact-us h2 {
        font-size: 1.4rem;
        font-weight: 600;
    }
    .contact-us h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .contact-us p {
        font-size: 0.7rem;
        text-align: center;
        font-weight: 500;
    }
}
/* end about section */

/* products section */

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100vw;
    height: auto;
    background-color: var(--main-white);
    color: var(--main-black);
}

.products-main {
    margin-top: -250px;
}

.products-main h1 {
    color: var(--main-black);
    padding-bottom: 250px;
    text-align: center;
    font-size: 4rem;
    font-weight: 1000;
}

.product h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--main-orange);
    margin-bottom: 0;
}

/*.soap-card {
    margin-top: 20px;
}*/

.soap-card h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--main-black);
}

.soap-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    grid-gap: 1rem;
    margin: 0 auto;
    margin-top: 40px;
}

.soap {
    background-color: var(--main-white);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    width: 250px;
    height: 400px;
    margin: 0 auto;
}

.soap .soap-image img {
    width: 250px;
    height: 300px;
    padding: 0px;
    margin-bottom: 20px;
}

.soap .desc {
    font-size: 1.2rem;
    font-weight: 800;
    width: 180px;
    margin: 0 auto;
    color: var(--main-black);
    background-color: white;
    padding: 2px;
    margin-top: 0px;
}

.soap .desc h4 {
    color: var(--main-orange);
    font-size: 1.4rem;
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    .soap-grid {
        grid-template-columns: auto auto;
        grid-gap: 4rem;
        margin: 0 auto;
    }
    .soap {
        margin: 0 auto;
        width: 350px;
        height: auto;
    }
}

@media (max-width: 450px) {
    .soap-grid {
        grid-template-columns: auto;
        grid-gap: 4rem;
    }
    .soap {
        width: 400px;
        height: auto;
    }
}


/* service section */
.services h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 100px;
    color: var(--main-orange);
    margin-bottom: 0;
}
.service-grid {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    grid-gap: 2rem;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0 10px;
}

.service {
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    color: var(--main-black);
    background-color: white;
    margin-top: 20px;
}

.service h3 {
    color: var(--main-orange);
}

@media (max-width: 900px) {
    .soap-grid {
        grid-gap: 2rem;
        margin: 0 auto;
    }
    .soap {
        margin: 0 auto;
        width: 300px;
        height: auto;
    }
    .service-grid {
        grid-gap: 1rem;
    }
    
    .service {
        width: 200px;
        padding: 10px;
    }
}

@media (max-width: 700px) {
    .soap-grid {
        grid-gap: 1rem;
    }
    .soap {
        width: 200px;
        height: auto;
    }
    .service-grid {
        grid-template-columns: auto;
        grid-gap: 4rem;
        margin-bottom: 50px;
    }
    
    .service {
        width: 350px;
        padding: 20px;
    }
}

@media (max-width: 380px) {
    .service-grid {
        grid-gap: 2rem;
    }
    
    .service {
        width: 220px;
        padding: 10px;
    }
}

/* end product section */

/* blog section */
.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    color: var(--main-white);
    /*background-image: url("/images/blog.jpg");*/
    background-size: cover;
    background-color: var(--main-white);
}
.main {
    margin-top: -250px;
    margin-bottom: 100px;
    color: var(--main-black);
}

.headtext {
    padding-bottom: 200px;
    margin-bottom: 30px;
    text-align: center;
}

.headtext h2 {
    font-size: 4rem;
    font-weight: 700;
}

.headtext p {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    font-family: 'Alegreya', serif;
}

.featured-blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 4rem;
}

@media (max-width: 1100px) {
    .featured-blogs {
        grid-template-columns: auto auto;
        grid-gap: 4rem;
    }
}

@media (max-width: 800px) {
    .featured-blogs {
        grid-gap: 2rem;
    }
    /*.main {
        margin-top: 80px;
        margin-bottom: 50px;
    }*/
}

.fblog {
    width: 350px;
    height: 350px;
    padding: 12px;
    background-color: var(--main-white);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: var(--main-black);
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 720px) {
    .featured-blogs {
        grid-gap: 1rem;
    }
    .fblog {
        width: 280px;
        height: 300px;
        font-size: 1rem;
        font-weight: normal;
    }
    .fblog .title {
        font-size: 1.2rem;
        font-weight: 500;
    }
}

.fblog .date {
    padding-top: 5px;
    padding-left: 5px;
}

.fblog .title {
    font-size: 1.5rem;
    font-weight: 600;
}

.fblog .img-div {
    width: 80%;
    margin: 0 auto;
}

.fblog .img-div img{
    margin: 0 auto;
    width: 100%;
    height: 150px;
}

.fblog .desc {
    padding: 2px;
    font-weight: 400;
}

@media (max-width: 580px) {
    .headtext h2 {
        font-size: 2.2rem;
    }

    .headtext p {
        font-size: 1.2rem;
    }
    .featured-blogs {
        grid-template-columns: auto;
        margin: 0 auto;
    }
    .fblog {
        width: 300px;
        height: 300px;
        font-size: 1rem;
        font-weight: normal;
    }
    .fblog .title {
        font-size: 1.3rem;
        font-weight: 600;
    }
}

@media (max-width: 300px) {
    .headtext h2 {
        font-size: 2rem;
    }

    .headtext p {
        font-size: 1rem;
    }
    .featured-blogs {
        grid-template-columns: auto;
        margin: 0 auto;
    }
    .fblog {
        width: 260px;
        height: 300px;
        font-size: 1rem;
        font-weight: normal;
    }
    .fblog .title {
        font-size: 1.2rem;
        font-weight: 600;
    }
}
@media (max-width: 260px) {
    .headtext h2 {
        font-size: 1.8rem;
    }

    .headtext p {
        font-size: 0.8rem;
    }
    .featured-blogs {
        grid-template-columns: auto;
    }
    .fblog {
        width: 240px;
        height: 320px;
        font-size: 1rem;
        font-weight: normal;
    }
}

/* create blog section */
.create-blog-main {
    margin-left: 160px;
    height: auto;
}
.create-blog{
    margin: 0 25px;
}

.create-blog-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.create-blog-form form {
    text-align: center;
}

form .admin-form {
    border: none;
    margin: 0;
    padding: 0;
}

form .postTitle {
    padding-bottom: 100px;
}

form #title {
    font-size: 2rem;
    width: 90%;
}

form #body {
    font-size: 1.8rem;
    text-align: left;
}

form #blogimg {
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

/* display single blog page */
.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100vw;
    height: auto;
    background-color: var(--main-white);
    color: var(--main-black);
    font-size: 1.2rem;
}

.posts-card {
    margin-left: 100px;
    margin-right: 200px;
    padding: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 50px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.title-text {
    color: var(--main-black);
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--main-orange);
}

.posts-card span {
    font-weight: 400;
}

.posts-card img {
    width: 100%;
}

.posts-card .desc {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.posts-card .icons {
    border-top: 2px solid var(--main-orange);
    padding-top: 15px;
    padding-left: 10px;
}

.posts-card .icons .card-icons {
    text-align: center;
}

.posts-card .icons .card-icons .fa {
    box-shadow: 1px 1px 1px var(--main-black);
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
}

@media (max-width: 750px) {
    .posts-card {
        width: 90%;
        margin-left: 20px;
        margin-right: 30px;
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .posts-card {
        width: 90%;
        margin-left: 10px;
        margin-right: 20px;
        padding: 2px;
        font-size: 0.7rem;
    }
    .title-text {
        font-size: 1.8rem;
    }
    .posts-card .icons .card-icons .fa {
        margin: 0px;
        text-align: center;
    }
}

/* end blog section */

/* contact section */

.contact-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-white);
    /*background-image: url("/images/c2.png");*/
    background-size: cover;
    height: auto;
    width: 100vw;
}

.contact-main h2 {
    color: var(--main-black);
    font-size: 4rem;
    font-weight: 800;
    margin-top: -250px;
    padding-bottom: 250px;
}

.contact-main .form-row{
    margin-bottom: 100px;
    display: flex;
}

.contact-main .form-card {
    background-color: white;
    width: 800px;
    height: 450px;
    border-radius: 0px;
}

form legend {
    padding-top: 0;
    color: var(--main-black);
    font-size: 1.8rem;
}

@media (max-width: 950px) {
    /*.contact-main h2 {
        font-size: 2rem;
        margin-top: 100px;
        margin-bottom: 30px;
    }*/
    .contact-main .form-card {
        width: 600px;
    }
}

.contact-main .form-card form {
    text-align: center;
    margin-top: 40px;
}

input[type=text], textarea {
    width: 90%;
    padding: 12px;
    border: none;
    background-color: var(--main-white);
    margin-top: 10px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 1px 1px var(--main-black);
}

input[type=email], textarea {
    width: 90%;
    padding: 12px;
    border: none;
    background-color: var(--main-white);
    margin-top: 10px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 1px 1px var(--main-black);
}

input[type=tel], input[type=file], textarea {
    width: 90%;
    padding: 12px;
    border: none;
    background-color: var(--main-white);
    margin-top: 10px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 1px 1px var(--main-black);
}

button {
    width: 90%;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: var(--main-white);
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0.1px 0.1px 1px 1px var(--main-black);
}
button:hover {
    background-color: var(--main-black);
    color: var(--main-orange);
}

@media (max-width: 500px) {
    /*.contact-main h2 {
        font-size: 1.8rem;
        margin-top: 150px;
    }*/
    .contact-main .form-card {
        width: 85vw;
        height: 350px;
        margin-bottom: 0;
        border-radius: 5px;
    }
    input[type=text], textarea {
        padding: 7px;
        margin-top: 10px;
    }
    
    input[type=email], textarea {
        padding: 7px;
        margin-top: 10px;
    }
    
    input[type=tel], textarea {
        padding: 7px;
        margin-top: 10px;
    }
    
    input[type=button] {
        padding: 7px;
        margin-top: 10px;
    }
}

.row-loc {
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 100vw;
}

.column-map {
    flex: 60%;
}

.column-map .card {
    background-color: white;
    padding: 10px;
    height: 100%;
}

.column-loc {
    flex: 35%;
}

.column-map .card .mapouter .gmap_canvas iframe {
    width: 100%;
}

.card-loc {
    background-color: white;
    padding: 10px;
    color: var(--main-black);
    text-align: center;
    margin-left: 10px;
    height: 100%;
}

.column-loc .card-loc h3 {
    color: var(--main-orange);
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 2.5rem;
    border-bottom: 1px solid var(--main-black);
}

.column-loc .card-loc .fa-wrapper p {
    padding-bottom: 25px;
    font-size: 1.5rem;
}

.column-loc .card-loc .fa-wrapper .fa {
    padding-top: 25px;
}

.column-loc .card-loc .fa-wrapper {
    background-color: var(--main-white);
}
.column-loc .card-loc .fa-wrapper:hover {
    background-color: white;
    color: var(--main-orange);
    border: 1px solid var(--main-orange);
}

@media (max-width: 900px) {
    .contact-main .form-row{
        margin-bottom: 10px;
    }
    .row-loc {
        display: flex;
        flex-direction: column;
    }
    .column-loc {
        margin-top: 15px;
    }
    .column-loc .card-loc {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .contact-main .form-row{
        margin-bottom: 0;
    }
    .row-loc {
        margin-top: 0;
        margin-bottom: 0;
    }
    .column-loc .card-loc h3 {
        font-size: 2rem;
    }
    .column-loc .card-loc .fa-wrapper .fa {
        font-size: 10px;
    }
    .column-loc .card-loc .fa-wrapper p {
        font-size: 1rem;
    }
    .column-loc .card-loc .fa-wrapper .to-top {
        font-size: 0.9rem;
    }
}

/* end contact section */

/* login section */

.login-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin-top: 200px;
    margin-bottom: 150px;*/
    height: 100vh;
}

.login-main form {
    border: 2px solid red;
    border-radius: 5px;
    padding: 70px;
    text-align: center;
    background-color: gray;
    opacity: 60%;
}

.login-main form legend {
    font-weight: 600;
    font-size: 1.8rem;
}

.login-main form .back-to-home {
    text-align: center;
    background-color:#262626;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.8rem;
}

.login-main form .uname, .pwd {
    width: 100%;
    padding: 10px;
    border: 1px double orangered;
    border-radius: 10px;
    margin-top: 10px;
    resize: vertical;
    font-size: 1.8rem;
    box-shadow: 1px 1px 2px 2px black;
}

.login-main form .l-btn {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border: 1px double orangered;
    border-radius: 20px;
    font-size: 1.8rem;
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px black;
}

@media (max-width: 700px) {
    .login-main form {
        padding: 40px;
    }
    
    .login-main form legend {
        font-size: 1.7rem;
    }
    
    .login-main form .back-to-home {
        width: 90%;
        margin: 0 auto;
        padding: 8px;
        font-size: 1.7rem;
    }
    
    .login-main form .uname, .pwd {
        width: 90%;
        padding: 8px;
        font-size: 1.7rem;
    }
    
    .login-main form .l-btn {
        width: 90%;
        font-size: 1.7rem;
    }
}

@media (max-width: 400px) {
    .login-main form {
        padding: 5px;
    }
    
    .login-main form legend {
        font-size: 1.5rem;
    }
    
    .login-main form .back-to-home {
        width: 70%;
        padding: 5px;
        font-size: 1.5rem;
    }
    
    .login-main form .uname, .pwd {
        width: 70%;
        padding: 5px;
        font-size: 1.5rem;
    }
    
    .login-main form .l-btn {
        width: 70%;
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

/* end login section */

/* Admin page */
.sidebar {
    color: var(--main-black);
    width: 160px;
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #f1f1f1;
    position: fixed;
    top: 50px;
}

.sidebar .sidebar-h {
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    font-weight: 600;
}

.sidebar a {
    color: var(--main-black);
}

.sidebar .client {
    border: 2px solid black;
    border-radius: 5px;
    background-color: gray;
    padding: 3px;
}

.topbar-a {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #f1f1f1;
    width: 100%;
    color:rgb(20, 30, 40);
    height: 50px;
    opacity: 96%;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Style the sidenav links and the dropdown button */
.sidebar a, .dropdown-btn {
    padding: 25px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-radius: 0;
  }
  
  /* On mouse-over */
  .sidebar a:hover, .dropdown-btn:hover {
    color: var(--main-white);
    background-color: var(--main-black);
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: var(--main-orange);
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: var(--main-white);
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

.topbar-a h1 {
    text-align: center;
    padding-top: 10px;
    padding-left: 100px;
    font-size: 20px;
}

.topbar-a .icons {
    font-size: 20px;
    padding-left: 600px;
    cursor: pointer;
    color:rgb(20, 19, 19);
}

.topbar-a .icons .fa {
    padding: 10px;
}

.admin {
    margin: 160px;
}

.admin .wrapper {
    background-color: aliceblue;
}

.admin .wrapper .card .content {
    width: 90%;
    height: 400px;
    background-color: #f9f9f9;
}

/* all blogs by admin*/
.all-admin-main {
    margin: 160px;
    margin-top: 0;
}

.admin-posts, 
.admin-products,
.admin-service,
.product-service-wrapper {
    padding: 50px;
}

.posts-wrapper, 
.products-wrapper,
.service-wrapper {
    background-color: white;
}

.posts-wrapper form, 
.products-wrapper form,
.service-wrapper form {
    padding: 50px;
    color: var(--main-black);
}

.posts-wrapper form .icons-2 button, 
.products-wrapper form .icons-2 button,
.service-wrapper form .icons-2 button {
    margin-top: 20px;
    padding: 0px;
    cursor: pointer;
    border: none;
    width: 70px;
    padding: 10px;
    margin: 2px;
}

.posts-wrapper form .icons-2 button:hover,
.products-wrapper form .icons-2 button:hover,
.service-wrapper form .icons-2 button:hover {
    background-color: var(--main-orange);
}

/*add products and service*/
.product-service-wrapper {
    margin-top: 0;
    padding: 20px;
    padding-left: 100px;
    color: var(--main-black);
}
.add-product-form,
.add-service-form {
    background-color: #f1f1f1;
    padding: 30px;
}

/* End Admin page*/

@media (max-width: 1000px) {
    .abt h1,
    .intro-post h1,
    .products-main h1 {
        font-size: 2.5rem;
        font-weight: 800;
    }
    .intro-text {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

@media (max-width: 900px) {
    .abt h1,
    .intro-post h1
    .products-main h1 {
        font-size: 2.5rem;
        font-weight: 800;
    }
    .intro-text {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

@media (max-width: 580px) {
    .about h1,
    .intro-post h1,
    .contact-main h2,
    .products-main h1 {
        font-size: 2.2rem;
    }
    .intro-text {
        font-size: 1rem;
    }
    .abt-intro {
        width: 280px;
    }
}

@media (max-width: 350px) {
    .about h1,
    .intro-post h1,
    .contact-main h2,
    .products-main h1 {
        font-size: 2rem;
    }
    .abt-intro {
        font-size: 0.8rem;
        width: 250px;
    }
}

@media (max-width: 260px) {
    .about h1,
    .intro-post h1 {
        font-size: 1.8rem;
    }
    .abt-intro {
        width: 180px;
        font-size: 0.7rem;
    }
}

@media (max-width: 375px) {
    .about h1,
    .intro-post h1,
    .contact-main h2,
    .products-main h1 {
        margin-top: -350px;
        
    }
    .abt-intro {
        
    }
    .intro-text {
        padding-bottom: 100px;
    }
}